/* Add additional stylesheets below
-------------------------------------------------- */
body {
    font-family: 'Roboto';
    font-size: 20px;
}

.title {
    height: 50px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.titleplayer {
    text-align: center;
    font-size: 25px;
    color: blue;
}

.titleenemy {
    text-align: center;
    font-size: 25px;
    color: red;
}

.boards {
    width: 100%;
}

.playerboard {
    float: right;
    width: 50%;
}

.enemyboard {
    float: left;
    width: 50%;
}

.column1 {
    height: 0px;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.column2 {
    height: 0px;
    width: 600px;
    margin-left: 170px;
    margin-top: 20px;
}

.column li {
    width: 34px;
    float: left;
    font-size: 18px;
}

/*.row{
    position: absolute;
    top: 112px;
}*/
.outerGrid {
    margin: 0 auto;
    border: none;
    border-spacing: 0px;
}

.outerGrid tr {
    border: none;
    height: 30px;
    text-align: center;
}

.outerGrid td {
    border: none;
    width: 30px;
    text-align: center;
}

.battleGrid {
    margin: 0 auto;
    border: 1px solid black;
    border-spacing: 0px;
    padding: 0;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

.battleGrid td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}
