/* Add additional stylesheets below
-------------------------------------------------- */
body {
    font-family: 'Roboto';
    font-size: 20px;
}

.title {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.title2 {
    width: 100%;
    text-align: center;
    margin-top: 0;
}


.titleplayer {
    text-align: center;
    font-size: 25px;
    color: blue;
}

.titleenemy {
    text-align: center;
    font-size: 25px;
    color: red;
}

.boards {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.playerboard {
    float: right;
    width: 50%;
    margin-bottom: 30px;
}

.enemyboard {
    float: left;
    width: 50%;
    margin-bottom: 30px;
    display: none;
}

.buttons-wrapper {
    clear: both;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.buttons {
    float: left;
    width: 45%;
    list-style: none;
    margin-top: 150px;
}

button {
    background-color: #64b5f6;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 16px;
    width: 165px;
}

button:hover {
    background-color: #62aae4;
}

button:active {
    background-color: #5c9dd1;
}

.buttons li {
    margin-bottom: 15px;
    font-size: 12px;
    /* float: left; */
}

.column1 {
    height: 0px;
    width: 600px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.column2 {
    height: 0px;
    width: 600px;
    margin-left: 170px;
    margin-top: 20px;
}

.column li {
    width: 34px;
    float: left;
    font-size: 18px;
}

.outerGrid {
    margin: 0 auto;
    border: none;
    border-spacing: 0px;
}

.outerGrid tr {
    border: none;
    height: 30px;
    text-align: center;
}

.outerGrid td {
    border: none;
    width: 30px;
    text-align: center;
}

.battleGrid {
    margin: 0 auto;
    border: 1px solid black;
    border-spacing: 0px;
    padding: 0;
}

.battleGrid tr {
    border: 1px solid black;
    height: 30px;
}

.battleGrid td {
    border: 1px solid black;
    width: 30px;
}

.battleGrid td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}

.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}
